<div class="jumbotron center">
     <h1>Keep Track. Save Time.</h1>
     <% if user_signed_in? %>
      <% if policy(Sample).new? %>
           <%= link_to "Check In A New Sample", new_sample_path, class: "btn btn-primary btn-lg" %>
           <% end %>
       </div>
      <%= render "homeindex" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>
